{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="https://kit.fontawesome.com/031117bc28.js" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
  <div>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div style="width: 100%; display: flex;flex-direction: row; justify-content: space-between;margin: 0.8em;"> 
          <div style="display: block;">
            <a class="navbar-brand " href="{% url 'home' %}"><i class="fa-solid fa-house" style="color: #0056d6;padding: 9px; font-size: 1.4em;"></i></a>
          </div>
          <div style="display: block;justify-content: end;">
            <a href=""><i class="fa-solid fa-user" style="padding: 9px; font-size: 1.4em;"></i></a>
            <a class="navbar-brand" href="" > About</a> 
            <a href="" class="navbar-brand "> Logout</a>
            <a href="{% url 'listItems'%}" class="navbar-brand" >list</a>
          </div>
        </div>
      </nav>
  </div>
    {%block content %}
        <div style="text-align: center;padding-top: 20vh;" class="img">
          <a href="{%url 'room'%}"><button class="btn btn-primary" style="width: 9vw;">Start Chat</button></a>
        </div>
    {% endblock content%}

</body>
</html>